/* Style sheet for ngspice web site */
/* License: Creative Commons Attribution Share-Alike (CC-BY-SA) v4.0 */
/* Paolo Nenzi 2005 V 1.0*/
/* Holger Vogt 2018 V 2.0*/

body {background-color: white;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
     }

/*p {text-align: left;} */
.justified {text-align: justify;}
.centered  {text-align: center;}
.header {text-align: left; font-weight: bold; font-size: 110%;}
.author {font-variant: small-caps; font-size: 100%;}

.contexual {text-align: center;}
.contextual.title {
                   text-align:center;
                   font-weight: bold;
                   font-size:110%;
                   border: medium double #9DB9D3;
                   padding: 0.5em;
                   }

#code {
       white-space: pre;
       font-family: monospace;
}

/********************************************************************/
/* STYLES FOR LINKS                                                 */
/********************************************************************/

/* General links */
A:link {color: blue;}
/* A:visited {color: blue;} */
A:hover {color: green;}
A:active {color: red;}


/********************************************************************/
/* Horizontal navbar                                                */
/********************************************************************/

#navcontainer ul
{
padding-left: 0;
margin-left: 0;
background-color: #036;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
font-size: 75%;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: #036;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color: #369;
color: #fff;
}

/********************************************************************/
/* Contextual Menu                                                  */
/********************************************************************/


#menucontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 75%;
}

#menucontainer a
{
display: block;
padding: 3px;
width: 90%;
background-color: #036;
border-bottom: 1px solid #eee;
}

#menucontainer a:link
{
color: #EEE;
text-decoration: none;
}

#menucontainer a:hover
{
background-color: #369;
color: #fff;
}

#menulist a:visited
{
color: #EEE;
text-decoration: none;
}


/********************************************************************/
/* Page layout                                                      */
/********************************************************************/


#paper  {
         max-width: 1024px;
         min-width: 320px;
        }

#header {
        margin: 1em auto;
        width: 100%;
    background-color: white;
        }

#footer {
        margin: 1em auto;
        width: 100%;
    background-color: white;
    font-size:75%;
    font-family: Arial, Helvetica, sans-serif;
        }

#left{
      width: 100%;
      margin:1em auto;
      text-align:left;
      }

#main {
       margin:0 0 0 0;
       padding:0;
       }       
      
@media (min-width: 35em) {   
#main {
       margin:0 0 0 20%;
       padding:0;
       }
}

#maincontent {
       margin:0;
       padding: 0.5em 1em;
       font-size: 100%;
       }


#context{
       float: left;
       width: 60%;
       margin: 0 20% 20px 20%;
       padding:0;
       background-color: #AECAE4;
       border: 1px solid black;
       }
       
@media (min-width: 35em) {   
#context{
       float: left;
       width: 20%;
       margin:0;
       padding:0;
       background-color: #AECAE4;
       border: 1px solid black;
       }       
}       
       
#contextcontent {
       margin:0;
       padding: 0.5em 0.5em;
       }

#latest {
      position: relative;
      left: 10%;
      width: 80%;
      background-color: #eeeeee;
      border: solid black 2pt;
      border-color: #aaaaaa;
      }

picture
{
    text-align: center; 
    margin: 0 5% 20px 5%;    
}
      
pframe      
 {
    display: grid;  
    border: none;
    text-align: center;
    grid-column-start: 1;
    grid-column-end:  -1;    
}

pic1,
pic2,
pic3 {
	border: none;
	padding: .5em;
}
@media (min-width: 560px) {
  pframe {
	grid-template-columns:  1fr 1fr;
  }	
  pic1{
    grid-column-start: 1;
  }  
  pic2{
    grid-column-start:   2;
  }
  pic3 {
    grid-column-start: 1;      
    grid-column-end:  -1;
  }
}

@media (min-width: 840px) {
 pframe {
   grid-template-columns: repeat(3,1fr);
 }	
  pic1{
    grid-column-start: 1;
  }  
  pic2{
    grid-column-start: 2;
  }
  pic3 {
    grid-column-start: 3;
  }
}      

/********************************************************************/
/* F.A.Q. layout                                                    */
/********************************************************************/

#finfo {
         font-size: 75%;
     font-family: Arial, Helvetica, sans-serif;
     list-style-type: none;
     background-color: #eeeeee;
        }

#ftoc { margin-bottom: 1em;
        border-bottom: solid black 2pt;
      }
#faq {
      background-color: #eeeeee;
      border: solid black 1pt;
      border-color: #aaaaaa;
      padding:0.2em;
      margin-bottom: 0.2em;
      }

#fquest {
        font-style: italic;
        background-color:#aaaaaa;
        padding: 0.2em;
      }

#fans {

            text-align: justify;
        margin-top:0.2em;
}

/********************************************************************/
/* Packages layout                                                  */
/********************************************************************/

#distribution {
               border: solid black 1pt;
           padding: 0.5em;
           margin-top: 0.5em;
}

#distlogo {
           float:right;
}

#distname {
           font-size:150%;

}

/********************************************************************/
/* Books layout                                                     */
/********************************************************************/

#book {
      border: solid black 1pt;
      padding: 0.5em;
      margin-top: 0.5em;

}

#btitle {
         font-size:125%;
     border-bottom: solid gray 1pt;

}

#bitem {
        float: left;
    width: 20%;

}

#bauthor {
         font-style: italic;

}

#breview {
         padding: 0.2em;
     margin-top: 0.3em;
     text-align: justify;
}

/********************************************************************/
/* Releases layout                                                  */
/********************************************************************/
#release {
          border: solid black 1pt;
      padding: 0.5em;
      margin-top: 0.5em;
}

#relheader {
          border-bottom: solid gray 1pt;
      font-size: 125%;
}

#reldate {
         margin-top: 0.5em;
     font-weight: bold;
     background-color: #eeeeee;
}

#relname {
         font-size:125%;
}

#reltext {
         text-align: justify;
     margin-top: 0.3em;
     padding: 0.2em;
}

/********************************************************************/
/* Paragraphs                                                       */
/********************************************************************/

#topimage{
       float: right;
       padding: 0.5em;
       }
